h1{
    text-align: center;
}
.contenido{
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
    height: 2rem;
    display: flex;
    background-color: rgb(28, 77, 144);
    
    
}
.contenido a{
    display: flex;
    align-items: center;
    margin-left: 110px;
    margin-right: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

