.container{

    max-width: 600px;
    margin: 0 auto;
    background-color: #da9422;
    padding: 20px;
    
}
.footer{
    text-align: center;
    height: 2.5rem;
    display: fixed;
    width: 100%;
    position: absolute;
    padding: 2rem;
    bottom: 0;

}
